<!DOCTYPE html>
<html>
   <head>
               <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <style>
body {
  background-image: url("../static/2.png");
}
</style>
    <body>
       <main style="text-align:center">
       <header>
          <h1 style="font-weight:bold"><u>Analysis of Github </u></h1>
       </header>
       <br>
           <div>
           <div class="col-md-2"></div>
           <div  class="col-md-4"></div>
           <div class="col-md-4">
       <h2> User Analysis</h2>
       <form action = "http://localhost:5000/network" method = "POST" class="form-inline" background="../static/github-bg.jpg">
         <div class="form-group"> 
               <label for="Username" class="control-label">Username: </label>
               <input  class="form-control" id="Username" name="Username" placeholder="User Name">
            </div>
         <div class="form-group"> 
            <button type="submit" class="btn btn-primary"  >Analyse</button>
         </div>	
    </form>
    <br><br>
       <h2> Repository  Analysis</h2>
       <form action = "http://localhost:5000/repository" method = "POST" class="form-inline">
         <div class="form-group"> 
               <label for="Username" class="control-label">Username: </label>
               <input  class="form-control" id="Username" name="Username" placeholder="User Name">
            </div>
            <div class="form-group"> 
               <button type="submit" class="btn btn-primary">Analyse</button>
            </div>	
       </form>
       <br><br>
       <h2>Language Analysis</h2>
       <form action = "http://localhost:5000/language" method = "POST" class="form-inline">
         <div class="form-group"> 
               <label for="language" class="control-label">Language: </label>
               <input  class="form-control" id="language" name="language" placeholder="Language">
            </div>
            
            <div class="form-group"> 
               <button type="submit" class="btn btn-primary">Type a language or 'All'</button>
            </div>	
       </form>
       <br><br>
       <h2> Popular Languages </h2>
       <form action = "http://localhost:5000/year" method = "POST" class="form-inline">
            <div class="form-group"> 
               <button type="submit" class="btn btn-primary">Get Popular Languages</button>
            </div>	
			<br><br><br>

       </form></div>
           </div>
      </main>
    </body>
 </html>